<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.crf.minutis"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name"
				 android:icon="@drawable/ic_logo"
				 android:name="MinutisApplication"
				 android:theme="@style/MinutisTheme" >
        <activity android:name="MinutisActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
				  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="SettingsActivity"
                  android:label="@string/settings_name">
        </activity>

		<service android:name="MinutisService" />

    </application>
</manifest>
